.btn{
   position: relative;
    background-color: aquamarine;
    border: 1px solid black;
    width: 150px;
    height: 50px;
    cursor: pointer;
    padding: 10px 30px;
    overflow: hidden;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;

    
}
/* .container{
   display: block;
     position: relative;
     overflow: hidden;
} */
.btn:hover{
    background-color: violet;

}

.icon-fire{
    display: block;
    position: absolute; 
    
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
 
    fill: red;
           transition-duration: 250ms;
       transition-timing-function: linear;
}

.btn:hover  .icon-fire{
       transform: translateY(-60px); 
       transition-duration: 250ms;
       transition-timing-function: linear;

}

.icon-rocket{
       display: block;
    position: absolute; 
top: 50%;
left: 10px;
transform: translateY(calc(-50% + 40px));
 
    fill: red; 
           transition-duration: 250ms;
       transition-timing-function: linear;

}

.btn:hover  .icon-rocket{
   
    transform: translateY(-50%); 
    transition-duration: 250ms;
    transition-timing-function: linear;
}
.form1{
    position: relative;
}

.form{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
   margin-right: auto;
   margin-left: auto;
    margin-top: 100px;
    border: 2px solid black;
    transform:  rotateY(0deg) rotateZ(0);
    transition: transform 500ms linear;
}

.form:hover{
   
   transform: perspective(600px) rotateY(60deg) rotateZ(45deg);
   transition: transform 500ms linear;

}


body{
    position: relative;
    padding: 20px;
}
.scene {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  width: 200px;
  height: 260px;
  perspective: 600px;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}
.scene:hover .card{
    transform: rotateY(180deg);
}

img {
    position: absolute;
    top: 100px;
    right: 50px;
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1{
  display: block;
 text-align: center;

 
  

  
}